
/* Special page break classes to help printers */
@media all { .page-break	{ display: none; } }
@media print { .page-break	{ display: block; page-break-before: always; } }

body { font-family: helvetica; }

th, td {
    border: 1px solid black;
    padding: 10px;
}

table {
    border-collapse: collapse; 
}

.logo { float: center; }

/* The program name included in weekheader.html */
.program { font-size: 20pt; }

/* The week name included in weekheader.html */
.week { font-size: 16pt; }

/* Even and odd day classes so you can get alternating background colors */
.evenDay { background: #dddddd; }
.oddDay { background: #fafafa; }

/* Style for the lift name */
.liftname { }

/* Style for reps */
.reps { }

/* Style for the "@" symbol in rep schemes */
.repsAt { }

/* Style for the set listing */
.sets { }

/* Style for empty sets */
.emptyset { }

/* Style for special lift descriptions that span the width of the table
 * for example: "singles to max (two misses/10 attempts)"*/
.liftdescription { font-style: italic}

/* Style for the day of the week */
.day { }

/* Style for off day set/rep cells (which span the full width of the table)*/
.off { text-align: center; font-weight: lighter; }
