{% extends "base.html" %}
{% block content %}


<h1>Training Format Parser</h1>

The following is a short snippet from an input programming file:

<pre>
Week 1
Monday
Power Snatch + Overhead Squat {snatch}: 60%/3+3, (70%/3+3)3
Power Clean + Jerk. {c&j}: 60%/3+3, (70%/3+3)3 
Clean Extension {c&j}: (85%/3)3
Back Squat {squat}: 60%/3, 70%/3, (80%/3)3
Good Morning: (X/6)4 
Snatch Balance {snatch}: 50%/3, 60%/3, (70%/1)/4

Tuesday
Snatch {snatch}: 60%/3, 70%/3, 80%/3, (85%/3)3 
Clean & Jerk {c&j}: 60%/3, 70%/3, 80%/3, (85%/3)3 
Snatch Extension {snatch}: (85%/3)3
Press: (X/5)4 

Wednesday
Power Snatch + Overhead Squat {snatch}: 60%/3+3, (70%/3+3)3
Power Clean + Jerk {c&j}: 60%/3+3, (70%/3+3)3 
Clean Extension {c&j}: (85%/3)3
Back Squat {squat}: 60%/3, 70%/3, 80%/3 (85/3)3
Good Morning: (X/6)4 

Thursday
Off
</pre>

<h2>Training Days</h2>
<ul>
    <li>Lines beginning with <code>Week X</code> (e.g. <code>Week 1</code>, <code>Week 2</code>, etc) will start a new week</li>
    <li>Underneath each <code>Week X</code>, lines which contain <code>Monday</code>...<code>Sunday</code> will start a new training day</li>
    <li>Each line underneath a training day will be interpreted as a lift, followed by sets and reps for that lift.</li>
</ul>

<h2>Lifts</h2>
A typical lift line is written as follows:
<code>PSn {snatch}: 60/2 65/2 70/2 (75/1)2</code>

<ul>
    <li>The section before the colon indicates the name of the lift, with an optional "base lift" name in curly braces.</li>
    <li>If a base lift is present, it will be used to calculate any percentages on the rest of the line</li>
    <li> Sets and reps are written after the colon</li>
</ul>

<h2>Sets and Reps</h2>

Sets and reps are written as comma or space separated fields. The following are
the three valid ways to write the same sets/reps prescription: 
<ul>
    <li><code>60%/3</code>:  1 set of 3 reps at 60%</li>
    <li><code>60/3</code>: 1 set of 3 reps at 60%</li>
    <li><code>(60/3)/1</code>: 1 set of 3 reps at 60%</li>
</ul>

All reps will ignore "+" characters, so that you can also write complexes as follows:
<ul>
    <li><code>60%/3+3</code></li>
    <li><code>60/3+3</code></li>
    <li><code>(60/3+3)/1</code></li>
</ul>

<h2>Go for a max!</h2>

Sometimes, you may want to give a freeform sentence instead of rigid sets and
reps for a given lift.  You can do this by enclosing your sentence in hard
brackets and putting it in place of a sets/reps scheme. For example:

<code>Clean & Jerk: [singles to max (two misses/10 attempts)]</code>

{% endblock %}

