{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
<div class="jumbotron">
  <img src="{{url_for('static', filename='logo.png')}}" height="150px" style="float: left;"/>
    <h1>Waxman's Gym</h1>
    <p>Training Program Parser | Formatter</p>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Upload a Program</div>
            <div class="panel-body">

                <form action="uploadprogram" method="post" enctype=multipart/form-data>
                    <div class="form-group">
                        <label for="programFile">Program File</label>
                        <input type="file" id="programFile" name="programFile" onchange="this.form.submit()" >
                        {% if 'programFile' in session %}
                        <p class="help-block">
                        Upload a program file - or use the already uploaded file {{ session.programFileName }} 
                        <i class="fa fa-check" style="color: green"></i>
                        </p>
                        {% else %}
                        <p class="help-block">Upload a program file - None loaded 
                        <i class="fa fa-times" style="color: red"></i></p>
                        {% endif %}
                    </div>
                </form>

                <form action="uploadformat" method="post" enctype=multipart/form-data>
                    <label for="formatFile">Format File</label>
                    <input type="file" id="formatFile" accept=".html" name="formatFile" onchange="this.form.submit()">
                    {% if 'formatFile' in session %}
                    <p class="help-block">
                    Upload a format style file (.html) - or use the already uploaded {{ session.formatFileName }} 
                    <i class="fa fa-check" style="color: green"></i>
                    </p>
                    {% else %}
                    <p class="help-block">Upload a format style file (.html) - None loaded 
                    <i class="fa fa-times" style="color: red"></i></p>
                    {% endif %}
                </form>

                </form>
            </div> {# panel-body #}
        </div> {# panel #}
    </div>{# col #}
</div>{# row #}
<div class="row">

    <div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">Generate Output</div>
        <div class="panel-body">

            {% if 'programFile' in session and 'formatFile' in session%}
            <div class="col-sm-4"  style="border-right:1px solid #ccc;">

                <h3>Single Output Generation</h3>

                <form class="form-horizontal" action="generatesingle" method="post" id="uploadForm" >

                    <div class="form-group">
                        <label for="trainee" class="control-label col-sm-2">Trainee Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="trainee" id="trainee">
                        </div>
                    </div>

                    {% for baseLift in session.program.baseLifts %}
                    <div class="form-group">
                        <label for="lift{{baseLift}}" class="control-label col-sm-2">{{baseLift}}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lift{{baseLift}}" name="max{{baseLift}}" value="100">
                        </div>
                    </div>
                    {% endfor %}

                    <input type="checkbox" name="generatePDF" unchecked>

                    {% set processEnabled = 'enabled' if 'formatFile' in session and 'programFile' in session else 'disabled' %}
                    <button type="submit" class="btn btn-success pull-right" name="process" value="process" {{processEnabled}}>
                        <i class="fa fa-gears"></i> Generate
                    </button>

                </form>
            </div> {# col #}
            <div class="col-sm-8">

                <h3>Bulk Output Generation</h3>

                <form action="generatebulk" method="post" enctype=multipart/form-data>
                    <div class="form-group">
                        <input type="file" id="maxesFile" name="maxesFile" onchange="this.form.submit()" >
                        <p class="help-block">
                        Upload a bulk maxes file and generate the results as a .zip of output files
                        </p>
                    </div>
                    <input type="checkbox" name="generatePDF" unchecked>
                </form>

                {% else %}
                Please supply a training file and a format file...
                {% endif %}
            </div> {# col #}
        </div> {# panel-body #}
    </div> {# panel #}

    </div> {# row #}
</div><!-- row -->
{% endblock %}

{% block head %}
{{ super() }}

<script>
$(function(){
  $("[name='generatePDF']").each(function(){
    $(this).bootstrapSwitch({
      onText: 'PDF',
      offText: 'HTML'
    });
  });
});
</script>
{% endblock %}
